[submodule "submodules/T65"]
	path = submodules/T65
	url = https://github.com/amb5l/T65.git
[submodule "submodules/mos6502-trace"]
	path = submodules/mos6502-trace
	url = https://github.com/amb5l/mos6502-trace.git
[submodule "submodules/6502_65C02_functional_tests"]
	path = submodules/6502_65C02_functional_tests
	url = https://github.com/amb5l/6502_65C02_functional_tests.git
[submodule "submodules/hagl"]
	path = submodules/hagl
	url = https://github.com/amb5l/hagl.git
[submodule "submodules/vhdl_prng"]
	path = submodules/vhdl_prng
	url = https://github.com/amb5l/vhdl_prng.git
[submodule "submodules/vcd2gtkw"]
	path = submodules/vcd2gtkw
	url = https://github.com/amb5l/vcd2gtkw.git
[submodule "submodules/make-fpga"]
	path = submodules/make-fpga
	url = https://github.com/amb5l/make-fpga.git
[submodule "submodules/OsvvmLibraries"]
	path = submodules/OsvvmLibraries
	url = https://github.com/OSVVM/OsvvmLibraries.git
